* {
    font-family: monospace;
}

header {
    background-color: black;
    color: #bbb;
}

div.clear {
    clear: both;
}

header a {
    color: white;
    text-decoration: none;
}

header a.tree {
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

header div.url {
    float: right;
    padding: 1em;
    font-size: 1.5em;
}
