{% if selectedLanguage == 'en' %}
    Anywhere where colors are used, colors may be given in this forms:
    <ol>
        <li>as an integer in the range 0 – 15</li>
        <li>as a name according to the next table</li>
    </ol>
{% else %}
    Kdekoliv se zadávají barvy, je možné barvy udávat dvěma způsoby:
    <ol>
        <li>celým číslem v rozsahu 0 – 15</li>
        <li>názvem pomocí následující tabulky</li>
    </ol>
{% endif %}
<div class="box">
        <h4>Barvy</h3>
    <div class="boxcontent">
        <table>
            {% for color in colors %}
                <tr>
                    <td class="sp"><span class="color-number">{{ color.number }}</span></td>
                    <td class="sp"><span class="color-description">{{ color.color }}</span></td>
                    <td><span class="color" style="background-color: {{ color.html }}"></span></td>
                    <td>{{ color.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
