{% if selectedLanguage == 'en' %}
    Source code of this application is available on <a href="https://github.com/marek-sterzik/vanocnistrom-org" target="_blank">github</a>. It may be used under the terms of the MIT licence.
{% else %}
    Zdrojový kód aplikace je k dispozici na <a href="https://github.com/marek-sterzik/vanocnistrom-org" target="_blank">githubu</a>. Zdrojový kód aplikace je použitelný pod MIT licencí.
{% endif %}
