{% extends "base.html.twig" %}
{% block body %}
    <p>
    Error code: {{ errorCode }}
    </p><p>
    {% if errorCode == 'cannot_create_tree' %}
        Cannot create new tree.
    {% elseif errorCode == 'tree_not_found' %}
        Tree does not exist.
    {% endif %}
    </p>
{% endblock %}
