{% extends "base.html.twig" %}
{% block body %}
    <header>
        <div class="url">
            <a class="tree" href="{{ treeUrl }}">{{ treeUrlShow }}</a> (<a class="api" href="#">api</a>)
        </div>
        <div class="clear"></div>
    </header>
    tree: {{ treeId }}
{% endblock %}
